.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh;
}

.h-containerlog {
  width: 720px;
  height: 504px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 24px;
  padding-top: 48px;
}
.text2{
  padding-top: 24px;
}
@media (max-width: 950px) {
  .footer {
    margin-top: auto;
  }
  .h-containerlog {
    width: 100%; /* Take up full width */
    height: auto; /* Adjust height based on content */
    padding: 0 20px; /* Add horizontal padding */
    max-width: 400px; /* Limit width on smaller screens */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
}
